header {
  width: 100%;
  height: 100px;
}
.menu {
  width: 890px;
  height: 100px;
  margin-top: 25px;
  float: right;
}
.menu .MenuItems {
  display: flex;
}
.menu .MenuItems li {
  list-style: none;
}
.menu .MenuItems li a {
  display: block;
  padding: 15px 35px 15px 35px;
  text-decoration: none;
  color: black;
  transition: 0.6s ease;
  margin-right: -5px;
  background: #9ec4f0;
  border: 2.2px solid black;
}
.menu .MenuItems li a:hover {
  background: #21221e;
  color: white;
  transition: 0.6s ease;
}
.DropdownMenu {
  display: none;
  position: absolute;
  padding: 0;
  background: rgb(158, 196, 240);
}
li:hover .DropdownMenu {
  display: block;
}
